/* inner pages */
.demos-carousel .owl-nav{margin-top: 10px;text-align: center;-webkit-tap-highlight-color: transparent;}
.demos-carousel .owl-nav button.owl-prev, .demos-carousel .owl-nav button.owl-next{top: 40%;border-radius: 50%;position: absolute;}
.demos-carousel .owl-nav button.owl-prev{left: -50px;}
.demos-carousel .owl-nav button.owl-next{right: -50px;}
.demos-carousel .owl-nav button.owl-prev, .demos-carousel .owl-nav button.owl-next{height: 90px;width: 90px;line-height: 90px;background: #fff;
	font-size: 20px; color: #e74860; transition: all .3s;border-radius: 50%;box-shadow: 0px 5px 14px 0px rgba(0, 40, 91, 0.1);z-index: 9;}
.demos-carousel .owl-nav button.owl-prev:hover, .demos-carousel .owl-nav button.owl-prev:active, .demos-carousel .owl-nav button.owl-prev:focus, .demos-carousel .owl-nav button.owl-next:hover, .demos-carousel .owl-nav button.owl-next:active, .demos-carousel .owl-nav button.owl-next:focus{ background-color: #e74860; }

.demos-carousel .owl-nav button.owl-prev:hover span, .demos-carousel .owl-nav button.owl-prev:active span, .demos-carousel .owl-nav button.owl-prev:focus span, .demos-carousel .owl-nav button.owl-next:hover span, .demos-carousel .owl-nav button.owl-next:active span, .demos-carousel .owl-nav button.owl-next:focus span { color: #fff; }

@media screen and (max-width: 1199px){.demos-carousel .owl-nav button.owl-prev, .demos-carousel .owl-nav button.owl-next{height: 80px;
	width: 80px;line-height: 80px;font-size: 18px;}}
@media screen and (max-width: 991px){.demos-carousel .owl-nav button.owl-prev, .demos-carousel .owl-nav button.owl-next{height: 60px;
	width: 60px;line-height: 60px;font-size: 16px;}}

/* elements image */
.marquee-container {overflow-x: hidden !important;display: flex !important;flex-direction: row !important;position: relative;width: 100%;}
.overlay {position: absolute;width: 100%;height: 100%;}
.overlay::before, .overlay::after {background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));content: "";height: 100%;
	position: absolute;width: 200px;z-index: 2;}
.overlay::before {left: 0;top: 0;}
.overlay::after {right: 0;top: 0;transform: rotateZ(180deg);}
.marquee {flex: 0 0 auto;min-width: 100%;z-index: 1;display: flex;flex-direction: row;align-items: center;
	animation: scroll var(--duration) linear var(--delay) var(--iteration-count);animation-play-state: var(--play);animation-delay: var(--delay);
	animation-direction: var(--direction);}
@keyframes scroll {0% {transform: translateX(0%);}100% {transform: translateX(-100%);}}
@media screen and (max-width: 575px){.overlay::before, .overlay::after{display: none;}}

.elements-box:before { content: ""; background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 69, 93, 0)), to(#18455d)); background: linear-gradient(rgba(24, 69, 93, 0), #18455d); position: absolute; bottom: 0; left: 0; width: 100%; height: 74%; z-index: 9; }

.elements-gallery{margin-top:-30px;}
.elements-gallery a{width:125px;height:125px;text-align:center;margin-bottom:25px;border:1px solid rgba(0, 0, 0, 0.075);display:table-cell;vertical-align:middle;font-size:16px;transition:all 0.2s ease-in-out;padding:10px;background:#fff; border-radius: 0.25rem;}
.elements-gallery .d-table{width:100%;margin-top:30px;}
.elements-gallery a:hover, .elements-gallery a:focus{transform:translateY(-5px);background:#e74860;color:#fff;border-color:#fff;}
.elements-gallery i{display:block;margin-bottom:15px;font-size:24px;color:#002a5c;}
.elements-gallery a:hover i, .elements-gallery a:focus i{color:#fff;}

/* features block */
.features-block { background: #fff; }

